@font-face{
font-family: 'ssp_reg';
src: url('.fonts/SourceSansPro-Regular.otf');
src: format('opentype');
}
@font-face{
font-family: 'ssp_bold';
src:url('.fonts/SourceSansPro-Bold.otf');
src:format('opentype');
font-weight:normal;
src: format('opentype');
}
@font-face{
font-family: 'ssp_semibold';
src:url('.fonts/SourceSansPro-Semibold.otf');
src:format('opentype');
font-weight:bold;
src: format('opentype');
}
	
#hurr {
	stroke-dasharray: 3,2;
}

.icon {
stroke: hsla(360,0%,20%,1);
}
.background {
	fill: white;
	pointer-events: all;
}
.boundary {
	stroke: white;
	fill: none;
}


.featured { 
	fill: #FFCB36;
	cursor:pointer;
}
.notFeatured {
	fill: #CFCDC9;
}

.boundary {
	stroke-width: 1px;
}

#dialogBoxUnit{
	display:inline-block;
	position:absolute;
	margin-right: 154px;
	height: 50px;
	top:0px;
	right:0px;
	z-index:2;
}
#cdContainer{
	position:absolute;
	top:0px;
	left:0px;
}
.popFront {
	position:absolute;
	top:0px; 
	left:0px;
	right:0px; 
	bottom :0px;
	cursor:pointer;

}

#dialogBoxContainer{
	position:absolute;
	top:0px;
	width:100%;
	height: 50px;
	z-index:+1;
}
.dialogBoxOptionContainer {
	position:absolute;
	top:100%;
	left:0px;
}
.dialogBoxOption {
	position:relative;
	width: 295px;
	top:100%;
	padding:5px;
	background-color: whitesmoke;
	color: grey;
	display:block;
	opacity:.92;
	font-size: 11pt;
	font-family: 'ssp_reg', sans-serif;
	font-weight: normal;
}

.event {
	position:relative;
	display:inline-block;
}
.dialogBox, .selected , .dialogBoxOff, #globeContainer{
	margin: 0px 2px;
	padding: 4px 25px;
	position: relative;
	display: inline-block;
	text-align:left;
	font-size: 13pt;
	font-family: 'ssp_reg', sans-serif;
	font-weight: 600;
	z-index:3;
	box-shadow: 2px 2px 1.5px #888888;
	width:100px;
	vertical-align:middle;
}


.dialogBoxOff, #globeContainer {
	color: white;
	background: #16B0C1;
	cursor:pointer;
	
}	



.selected {
	color: grey;
	background: whitesmoke;
	border-left, border-right, border-top: medium solid grey;
}

#swipeBox {
	background-color: hsla(37, 2%, 98%,.70);
	border-width: 2px;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	word-break: break-all;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	white-space: normal;
	position: absolute;
	bottom:0px;
	width: 100%;
	z-index:+1;
	
}
#swipeBack {
	background-color:hsla(0,0%,17%,.5);
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	z-index:0;	
}

#iframe1{ 
    -webkit-box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0px 4px 3px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0px 4px 3px rgba(50, 50, 50, 0.75);
	background-color:white;
	position: absolute;
	width:100%;
	height:100%;
	bottom:0px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	white-space: normal;
	display: float;
	
}

.pop {
	padding: 8px;
	border-radius: .4em;    
	opacity: 1e-6;
    background:#16B0C1;
	line-height:100%;
}

.tooltip {
	position: absolute;
	z-index: 2;
	visibility:hidden;
}


.popName {
font-family: 'ssp_bold', sans-serif;
font-weight:800;
font-size:20px;
color:#002A6C;
}

.popDetail {
font-family: 'ssp_reg', sans-serif;
font-weight:400;
font-size: 15px;
color:white;
line-height:100%;
pointer-events:none;

}

#tooltipImg {
display: block;
margin-right: auto;
margin-left: auto;
margin-top:4px;
margin-bottom:4px;
top:30px;
}


#globe, .hash {
	top:6px;	
	position:absolute;
	left:0px;
	margin-left: 5px;
	z-index:4;
	height:17px;
	width:17px;
	pointer-events:none;
}

.hash {
left:5px;
}

#globeContainer {
	top: 0px;
	position: absolute;
	right: 0px;
	margin-left:0px;
	margin-top:3px;
	vertical-align:middle;
}
.ring {
  fill: none;
  stroke: #c7141a;
}



#ovContainer {
	position:absolute;
	height:110px;
	bottom:10px;
	left:10px;
	background-color:whitesmoke;
	white-space: nowrap;
}


#ovHead {
	color:#002A6C;
	position:relative;
	bottom:105px;
	margin-left:9px;
	font-family: 'ssp_bold', sans-serif;
	font-weight:bold;
	line-height:100%;
	white-space:nowrap;
	font-size:17pt;
}

#ovSubHead{
	display:inline-block;
	margin:5px;
	margin-right:10px;
	font-size:12pt;
	font-weight:normal;
	padding-left:5px;
}

.nmTeal {
	color:#16B0C1;
	font-family: 'ssp_semibold', sans-serif;
	line-height:100%;
	
}

.ovElement {
	position:relative;
	display:inline-block;
	height: 50px;
	bottom:100px;
	vertical-align:text-top;
	text-align:left;
	line-height:80%;
	padding-left:20px;
	padding-right:20px;
}

.ovElemHead {
	position:absolute;
	top:0px;
}	

