#BH {
//color: #452817;
font-size: 28px;
font-weight: 400;
font-weight: bold;
border-bottom: 2px dotted #a09fa0;
padding: 0 0 3px 0;
margin: 0 0 10px 0;
}
#body {
//color: #452817;
font-size: 18px;
font-weight: 400;
margin: 0 0 10px 0;
}

#body #BH ul {
color: #452817;
font-family: "trebuchet ms", trebuchet, sans-serif;


}
#author {
color: #707071
}

ul {
//color: #452817;
font-size: 18px;
font-weight: 400;
}

img {
	padding: 10;
	padding-top: 0;
	margin-right: 10;
}
